* {
    font-family: monospace;
    background-color: rgb(224, 224, 224);
}

.calculator {
    box-shadow: 1rem 1rem 1rem black;
    
    width: 40vw;
    height: 80vh;
    margin-left: 30vw;
    margin-top: 10vh;
    background-color: #A0A0A0;
    align-items: center;
    text-align: center;
}

h1 {

    background-color: #A0A0A0
}

.container {
    width: 75%;
    margin-left: 12.5%;
    height: 85%;
    border-radius: .5rem;
}



#output {
    border-radius: .5rem;
    background-color: #202020;
    height: 30%;
    font-size: 6rem;
    text-align: right;
    color: white;
}



#cal-table {
    width: 70%;
    margin-left: 15%;
    border-radius: .5rem;
    font-size: 4.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

th {
    padding: 0 2rem 0 2rem;
    margin: 0.5rem;
    border: .2rem black solid;
    border-radius: .5rem;
    box-sizing: border-box;
}

th:hover {
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 1rem black;
    background-color: #202020;
    color: white;

}

.operations {
    background-color: #EEFC30;
}

.numbers {
    background-color: #606060;
}

.c-btn {
    background-color: rgb(220, 28, 19);
}

.eql-btn {
    background-color: green;
}